body {
    margin: 0;
    padding: 0;
    background: #333;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 426px;
}

.container .front, .container .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 2.0s;
    backface-visibility: hidden;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container img {
    width: 100%;
}

.container .front {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 2;
}

.container .back {
    transform: perspective(1000px) rotateY(180deg);
    z-index: 1;
}

.container:hover .front {
    transform: perspective(1000px) rotateY(-180deg);
    z-index: 2;
}

.container:hover .back {
    transform: perspective(1000px) rotateY(0deg);
    z-index: 1;
}